<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1 class="title">Product List</h1>
<p><a href="/customer/create">Create new customer</a></p>
<form>
    <p>Search by name:</p>
    <p><input type="text" name="s"></p>
    <p><input type="submit" value="Search"></p>
</form></br>
<table border="2px">
<div>
    <tr>
        <td>Id </td>
        <td>Name </td>
        <td>Address </td>
        <td>Phone </td>
        <td>Province </td>
    </tr>
    <div th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/customer/edit/__${customer.id}__}">Edit</a> </td>
            <td><a th:href="@{/customer/remove/__${customer.id}__}">Remove</a> </td>
        </tr>
    </div>
</div>
</table>
<div>
    <a th:href="@{'/list'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/list'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>