<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Province</title>
</head>
<body>
<h1 class="title">Edit Province</h1>
<p>
    <a href="/provinces">Back to list province</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/update-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>