<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Province</title>
</head>
<body>
<h1 class="title">List Province</h1>
<p><a href="/crete-province">Create New Province</a> </p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tr th:each="province : ${provinces}">
        <td>
            <a th:href="@{/view-province/__${province.id}__}" th:text="${province.name}"></a>
        </td>
        <td><a th:href="@{/edit-province/__${province.id}__}">Edit</a> </td>
        <td><a th:href="@{/delete-province/__${province.id}__}">Delete</a> </td>
    </tr>
</table>
</body>
</html>